
body {
	background-color: midnightblue;
}

#header {
	color: powderblue;
	background-color: red;
	width: 970px;
	margin: 5px;
	padding: 3px 10px;
	border-radius: 10px;
}

#sidebar {
	color: mediumturquoise;
	background-color: teal;
	font-size: 12px;
	margin: 10px 5px;
	width: 170px;
	padding: 10px 0px 10px 5px;
	border-radius: 10px;
	display: inline-block;
}

a {
	color: mediumturquoise;
}

p.indent {
	margin-left: 10px;
	margin-bottom: 0px;
	padding: 0px;
}

ul {
    padding-left: 2em;
    padding-top: 0px;
    padding-right: 0px;
    margin: 0px;
}


#main {
	color: powderblue;
	font-size: 12px;
	margin: 10px;
	padding: 10px 20px;
	width: 750px;
	border-radius: 10px;
	vertical-align: top;
	background-color: black;
	display: inline-block;
}

#footer
	{
	color: powderblue;
	font-size: 12px;
	background-color: dimgray;
	margin: 5px;
	padding: 5px 10px;
	width: 970px;
	border-radius: 10px;
	}